body {
    background-color:#f77367;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-title {
    font-size: 500%;
    font-family: cursive;
    text-align: center;
}

.space-header {
    color:rgb(246, 232, 255);
    font-weight: bold;
}

.space-container {
        border: 2px solid #FCF0CC;
        border-radius: 2px; 
}