<!DOCTYPE html>
<html lang="en">
<head>
    <title>MBnB Home Page</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <div class="navigation" align="right">
        {% if user_id %}
        <p><a href="/users/{{ user_id }}">My Profile</a></p>
        <p><a href="/logout">Logout</a></p>
        {% else %}
        <p><a href="/login">Login</a></p>
        <p><a href="/signup">Create an account</a></p>
        {% endif %}
    </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 class="main-title">🏘️ MBnB</h1>



    <h2>Book a Space</h2>
    {% for space in spaces %}
    <div class="space-container">
        
        <div class="space-header"><h2>{{space.name}}</h2></div>
        <div class="space-description">{{space.description}}</div>
        <div class="space-price">From £{{space.price}} per night!</div>
        <br>
        {% if session_active == True %}
        <form action="/" method="POST">
            <button type="submit" name="book_now_button" value="{{space.id}}">Book Now!</button><br>
        </form>
        <br>
    
        {% endif %}
    </div>
    <br>
    {% endfor %}
</body>
</html>