<!DOCTYPE html>
<html lang="en">
<head>
    <div class="navigation" align="right">
        {% if user_id %}
        <p><a href="/users/{{ user_id }}">My Profile</a></p>
        <p><a href="/logout">Logout</a></p>
        {% else %}
        <p><a href="/login">Login</a></p>
        <p><a href="/signup">Create an account</a></p>
        {% endif %}
    </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBnB Home Page</title>
</head>
<body>
    <h1>MBnB</h1>

    <h2>Spaces</h2>
    {% for space in spaces %}
    <form action="/" method="POST">
    <div class="space-container">
        <div class="space-header">{{space.name}}</div>
        <div class="space-description">{{space.description}}</div>
        <div class="space-price">From £{{space.price}} per night!</div>
        <button type="submit" name="book_now_button" value="{{space.id}}">Book Now!</button><br>
    </div>
    </form>
    {% endfor %}
</body>
</html>