<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Log in to MBnB</title>
    </head>
    <body>
        <h1>Enter your login details</h1>
        <form action="/login" method="post">
            {% if errors %}
                <p data-testid="error-details">
                    Your login submission had the following errors:
                </p>
                <p><ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul></p>
            {% endif %}
            <p>
                <label for="username">Username: </label>
                <input type="text" name="username" id="username" data-testid="username">
            </p>
            <p>
                <label for="password">Password: </label>
                <input type="text" name="password" id="password" data-testid="password">
            </p>
            <p>
                <input type="submit" value="Submit form">
            </p>
        </form>
    </body>
</html>