<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Create your MBnB account</title>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>
    <body>
        <p><a href="/">Back to homepage</a></p>
        {% if user_is_logged_in %}
            <p data-testid="already-logged-in-message">
                You are already logged in.
                If you are trying to create a new account,
                please <a href="/logout">log out</a> first.
            </p>
        {% else %}
            <h1>Sign up to MBnB</h1>
            <p>Enter the username and password you would like to use.</p>
            <p>Your password should be at least 8 characters long.</p>
            <p>Useful note: users cannot use a username already in use by another user.</p>
            <form action="/signup" method="post">
                {% if errors %}
                    <p data-testid="error-details">
                        Your signup submission had the following errors:
                    </p>
                    <p><ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul></p>
                {% endif %}
                <p>
                    <label for="username">Username: </label>
                    <input type="text" name="username" id="username" data-testid="username">
                </p>
                <p>
                    <label for="password">Password: </label>
                    <input type="text" name="password" id="password" data-testid="password">
                </p>
                <p>
                    <input type="submit" value="Submit form">
                </p>
            </form>
        {% endif %}

        <p>Don't have a MBnB account yet? <a href="/signup">Sign up here.</a></p>
    </body>
</html>