<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My page: {{username}}</title>
    <p><a href="/">See More Spaces and Make a New Booking!</a></p>

    </head>
    <body>
        <h1>{{username}}'s Bookings for upcoming holidays</h1>

        <div class="user-bookings">
            {% for booking in bookings %}
            <li class="booking-list">
                Booking #{{booking["booking_id"]}}<br>
                You're staying at {{booking["space_name"]}} on {{booking["booking_date"]}}<br>
                Request confirmed = {{booking["confirmed"]}}
            </li>
            <br>
            {% endfor %}
        </div>
        <h1> Requests for your spaces </h1>

        <div class="user-requests">
            {% for request in booking_requests %}
            <div class="request-list">
                Booking #{{request.id}}<br>
                You have a request for {{request.space_id}} on {{request.date}}
            <form action="/users/{{user_id}}" methods="POST">
                <button type="submit" name="confirm-booking" value="{{request.id}}">Confirm Booking</button>
            </form>

            <form action="/users/{{user_id}}" methods="POST">
                <button type="submit" name="reject-booking" value="{{request.id}}">Reject Booking</button>
            </form>

            </div>
            {% endfor %}
    </body>
</html>