<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if user_id == logged_in_id %}
            My page
        {% else %}
            User page
        {% endif %}
        : {{username}}
    </title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <p><a href="/">See More Spaces and Make a New Booking!</a></p>

    </head>
    <body>
        {% if user_id == logged_in_id %}
        <a href="/users/{{user_id}}/create_space">List a new space</a>
        <h1>{{username}}'s Bookings for upcoming holidays</h1>

        <div class="user-bookings">
            {% for booking in bookings %}
            <li class="booking-list">
                Booking #{{booking["booking_id"]}}<br>
                You're staying at {{booking["space_name"]}} on {{booking["booking_date"]}}<br>
                Request confirmed = {{booking["confirmed"]}}
            </li>
            <br>
            {% endfor %}
        </div>
        <h1> Requests for your spaces </h1>

        <div class="user-requests">
            {% for request in booking_requests %}
            <div class="request-list">
                Booking #{{request['booking_id']}}<br>
                You have a request for {{request['name']}} on {{request.date}}

            <form action="/users/{{user_id}}" method="POST">
                <button type="submit" name="confirm-booking" value="{{request['booking_id']}}">Confirm Booking</button>
            </form>

            <form action="/users/{{user_id}}" method="POST">
                <button type="submit" name="reject-booking" value="{{request['booking_id']}}">Reject Booking</button>
            </form>

            </div>
            {% endfor %}
        </div>
        {% else %}
        <h1>{{ username }}'s page</h1>
        {% endif %}
    </body>
</html>